/* General Classes */
body {
	font: 10px verdana, arial, sans-serif; 
	background-color: #222222;
	background-image: URL(bgcarbon.png);
}

td{
	padding: 4px;
	font: 11px verdana, arial, sans-serif; 
	color: #222222;
	border-radius: 3px;
}

th{
	padding: 6px;
	font: 12px verdana, arial, sans-serif; 
	font-weight: bold;
	color: #333333;
	border-radius: 3px;
}


/* Headings */
h1   {
	color: #aaaaaa; 
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

h2   {
	color: #bbbbbb;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-left: 100px;
  	margin-right: 100px;	
	padding: 4px;
	border-radius: 4px;
	background: rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
}

h3   {
	color: #dfdfdf;
	font-size: 12px;
	text-align: center;
	margin-left: 10px;
  	margin-right: 10px;
	padding: 3px;
	background-color: #505050;
	font-weight: bold;
	border-radius: 4px;
	background: rgba(100,100,100,0.5);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
}

h4   {
	color: #440000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 40%;
	margin-left: auto;
  	margin-right: auto;
	padding: 5px;
	border-radius: 1em;
	background-color: rgba(180, 120, 60, 0.8);
	background: -webkit-linear-gradient( rgba(250, 190, 100, 0.7), rgba(150, 90, 30, 1.0));
	background: linear-gradient( rgba(250, 190, 100, 0.7), rgba(150, 90, 30, 1.0));
}

h5   {
	color: #004400;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 40%;
	margin-left: auto;
  	margin-right: auto;
	padding: 5px;
	border-radius: 1em;
	background-color: rgba(60, 180, 120, 0.8);
	background: -webkit-linear-gradient( rgba(100, 250, 190, 0.7), rgba(30, 150, 90, 1.0));
	background: linear-gradient( rgba(100, 250, 190, 0.7), rgba(30, 150, 90, 1.0));
}

/* Input Fields */
select {
	color: #666666;
}

input {
	color: #666666;
}

textarea {
	font: 11px lucida console, fixedsys;
	color: #666666;
}

/* Image Properties */
img{
	margin : 2px 3px;
	vertical-align: middle;
	border: none;
}

img.bigbar{
	height : 16px;
	margin : 2px 8px;
	vertical-align: middle;
	border: 1px solid #333333;
	border-radius: 6px;
}

img.smallbar{
	height : 6px;
	margin : 2px;
	vertical-align: middle;
	border: 1px solid #333333;
	border-radius: 3px;
}

/* Form Properties */
:focus {background-color: #f0f0d0}

/* Link Properties */
:link {color: #004488;text-decoration: none;}
:visited {color: #003366;text-decoration: none;}
:link:focus, :visited:focus {color: #00cccc}
:link:hover, :visited:hover {color: #0088cc}
:link:active, :visited:active {color: #0000f0}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 1px;
	background-color: #555555;
}

#footer{
	margin: 20px auto;
	width:50%;
	border: 1px solid #555555;
	padding: 8px;
	text-align: center;
	font: 9px verdana, arial, sans-serif;
	color: #444444;
	border-radius: 4px;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #505050;
}

/* Helper td */
td.helper{
	padding: 10px;
	vertical-align: top;
}

table.fixed{
	table-layout:fixed;
}

table.full{
	width: 100%;
}

/* Style for logs etc. */
.textpad{
	margin: 10px auto;
	width: 75%;
	padding: 15px;
	border-spacing: 1px;
	border: 3px inset #505050;
	border-radius: 1em;
}

/* Font Properties */
.code{
	overflow: auto;
	text-align: left;
	padding: 11px;
	font-family: monospace;
	font: 11px Courier New, monospace;
	white-space: pre;
}

/* Scrollable list container */
.scroller{
	background-color: #aaaaaa;
	height:150px;
	width:100%;
	overflow: auto;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #d0d0d0}
.txtb{background-color: #c0c0c0}

/* Image Fields */
.imga{background-color: #f0f0f0}
.imgb{background-color: #e6e6e6}

/* Status Fields */
.good{background-color: #90f080}
.noti{background-color: #8090f0}
.warn{background-color: #f0f080}
.alrm{background-color: #f0b080}
.crit{background-color: #f09090}
.part{background-image:url('../img/dia.png')}

/* Default Group Based Module Colors */
.adm1, .net1, .dsk1, .mon1, .mgr1, .oth1, .usr1{
	background-image: URL(square.png)
}

.adm2, .net2, .dsk2, .mon2, .mgr2, .oth2, .usr2{
	border-radius: 5px;
	background-color: #999999;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
}

/* ThemeNMenu Style Sheet */

.ThemeNMenu,.ThemeNSubMenuTable
{
	cursor:		default;

	border-radius:	5px;
	padding:	2px;
	border:		0px;
	white-space:	nowrap;
}

.ThemeNMenu
{
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px rgba(0,0,0,0.6), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	background-color: #d0d0d0;
}

.ThemeNSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0px;
	padding:	0px;

	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=135, Strength=4);*/
}

.ThemeNSubMenuTable
{
	border:		1px solid #444444;
	-webkit-box-shadow: 8px 8px 12px rgba(0,0,0,0.4), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	box-shadow: 8px 8px 12px rgba(0,0,0,0.4), inset 0 1px rgba(250,250,250,0.3), inset 0 10px rgba(250,250,250,0.2), inset 0 10px 20px rgba(250,250,250,0.25), inset 0 -16px 32px rgba(0,0,0,0.4);
	background-color:	#eeeeee;
	border-radius: 4px;
}

.ThemeNSubMenuTable td
{
	white-space:	nowrap;
	padding:	2px;
}

.ThemeNMainItem,.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItem,.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	padding-left:	6px;
	padding-right:	6px;
	white-space:	nowrap;
}

.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	color:			#888888;
	background-color:	#f0f0d0;
}

.ThemeNMenuSplit
{
	height:		1px;
	margin-top:	1px;
	margin-bottom:	1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeNMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeNMenuItem img.seq1
{
	display:	inline;
}

.ThemeNMenuItemHover seq2,
.ThemeNMenuItemActive seq2
{
	display:	inline;
}

.ThemeNMenuItem .seq2,
.ThemeNMenuItemHover .seq1,
.ThemeNMenuItemActive .seq1
{
	display:	none;
}
