/* General Classes */
body {
	font: 8px verdana, arial, sans-serif; 
	color: #002022;
	background-color: #333333;
}

td{
	padding: 1px;
}

th{
	padding: 2px;
	font-weight: bold;
}

/* Headings */
h1   {
	color: #88aacc; 
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

h2   {
	color: #8899bb;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

h3   {
	color: #7788aa;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

h4   {
	color: #660000;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

h5   {
	color: #006600;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

/* Input Fields */
select {
	color: #004400;
	background-color: #eeffee;
}

textarea {
	color: #004400;
	background-color: #eeffee;
}

/* Image Properties */
img{
	margin : 1px 0px;
	vertical-align: middle;
	border: none;
}

img.bigbar{
	height : 10px;
	margin : 1px;
	vertical-align: middle;
	border: 1px solid #333333;
}

img.smallbar{
	height : 6px;
	margin : 1px;
	vertical-align: middle;
	border: 1px solid #333333;
}

/* Form Properties */
:focus {background-color: #aac0cc}

/* Link Properties */
:link {color: #0066cc;text-decoration: none;}
:visited {color: #0055bb;text-decoration: none;}
:link:focus, :visited:focus {color: #cc7700}
:link:hover, :visited:hover {color: #ff4400}
:link:active, :visited:active {color: #0088dd}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 1px;
	background-color: #669099;
}

#footer{
	margin: 6px auto;
	width: 90%;
	border: 1px solid #669099;
	padding: 4px;
	text-align: right;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #669099;
}

/* Helper td */
td.helper{
	padding: 4px;
	vertical-align: top;
	background-color: #444444;
}

table.fixed{
	table-layout:fixed;
}

table.full{
	width: 100%;
}

/* Style for logs etc. */
.textpad{
	margin: 4px auto;
	width: 70%;
	padding: 4px;
	border-spacing: 1px;
	border: 1px solid #008800;
}

/* Font Properties */
.code{
	overflow: auto;
	text-align: left;
	padding: 4px;
	font-family: monospace;
	font: 9px Courier New, monospace;
	white-space: pre;
}

/* Scrollable list container */
.scroller{
	background-color: #aaaaaa;
	height:150px;
	width:100%;
	overflow: auto;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #b0b0b0}
.txtb{background-color: #a0a0a0}

/* Image Fields */
.imga{background-color: #d0d0d0}
.imgb{background-color: #c0c0c0}

/* Status Fields */
.good{background-color: #80e060}
.noti{background-color: #6080e0}
.warn{background-color: #e0e060}
.alrm{background-color: #e0a060}
.crit{background-color: #e06060}
.part{background-image:url('../img/dia.png')}

/* Default Group Based Module Colors */
.adm1{background-color: #665033}
.adm2{background-color: #776044}

.net1{background-color: #335066}
.net2{background-color: #446077}
                       
.dsk1{background-color: #556066}
.dsk2{background-color: #557077}
                       
.mon1{background-color: #335066}
.mon2{background-color: #446077}
                       
.mgr1{background-color: #335066}
.mgr2{background-color: #446077}
                         
.oth1{background-color: #335066}
.oth2{background-color: #446077}
                       
.usr1{background-color: #335066}
.usr2{background-color: #446077}
/* ThemeNMenu Style Sheet */

.ThemeNMenu,.ThemeNSubMenuTable
{
	cursor:		default;
	font-family:	verdana, arial, sans-serif;
	font-size:	10px;

	padding:	2px;
	border:		0px;
	white-space:	nowrap;
}

.ThemeNMenu
{
/*	background-color:	#F7F3EF; */
}

.ThemeNSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0px;
	padding:	0px;

	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=135, Strength=4);*/
}

.ThemeNSubMenuTable
{
	border:		1px solid #444444;
	background-color:	#eeeeee;
}

.ThemeNSubMenuTable td
{
	white-space:	nowrap;
	padding:	2px;
}

.ThemeNMainItem,.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItem,.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	padding-left:	6px;
	padding-right:	6px;
	white-space:	nowrap;
}

.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	color:		#888888;
	background-color:	#ffffff;
}

.ThemeNMenuSplit
{
	height:		1px;
	margin-top:	1px;
	margin-bottom:	1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeNMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeNMenuItem img.seq1
{
	display:	inline;
}

.ThemeNMenuItemHover seq2,
.ThemeNMenuItemActive seq2
{
	display:	inline;
}

.ThemeNMenuItem .seq2,
.ThemeNMenuItemHover .seq1,
.ThemeNMenuItemActive .seq1
{
	display:	none;
}
