/* General Classes */
body {
	font: 12px "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif;
	background-color: #444444;
}

td{
	padding: 4px;
	color: #444444;
	border-radius: 4px;
}

th{
	padding: 4px;
	font-weight: bold;
	color: #444444;
	border-radius: 4px;
}

/* Headings */
h1   {
	color: #cccccc; 
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 3px 3px #222222;
}

h2   {
	color: #dddddd;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 3px 3px #222222;
}

h3   {
	color: #eeeeee;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	font-weight: bold;
	text-shadow: 2px 3px 3px #222222;
	border-radius: 4px;
	background: -webkit-linear-gradient( #848484 5%, #cacaca);
	background: -moz-linear-gradient( #848484 5%, #cacaca);
}

h4   {
	color: #440000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 40%;
	border: 1px solid #ffaa66;
	margin-left: auto;
  	margin-right: auto;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(180, 120, 60, 0.8);
	background: -webkit-linear-gradient(rgba(250, 190, 100, .9), rgba(150, 90, 25, 0.8) 90%);
	background: linear-gradient(rgba(250, 190, 100, .9), rgba(150, 90, 25, 0.8) 90%);
}

h5   {
	color: #004400;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 40%;
	border: 1px solid #88ffaa;
	margin-left: auto;
  	margin-right: auto;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(60, 180, 120, 0.8);
	background: -webkit-linear-gradient(rgba(100, 250, 190, .9), rgba(30, 150, 90, 0.8) 90%);
	background: linear-gradient(rgba(100, 250, 190, .9), rgba(30, 150, 90, 0.8) 90%);
}

/* Input Fields */
select {
	color: #444444;
}

input {
	color: #444444;
}

textarea {
	color: #444444;
}

/* Image Properties */
img{
	margin : 2px 4px;
	vertical-align: middle;
	border: none;
}

img.bigbar{
	height : 20px;
	margin : 4px;
	vertical-align: middle;
	border: 1px solid #333333;
	border-radius: 5px;
}

img.smallbar{
	height : 8px;
	margin : 2px;
	vertical-align: middle;
	border: 1px solid #333333;
	border-radius: 3px;
}

/* Form Properties */
:focus {background-color: #e0e0e0}

/* Link Properties */
:link {
	color: #004488;
	text-decoration: none;
	transition: color 0.4s ease;
}
:visited {color: #003366;text-decoration: none;}
:link:focus, :visited:focus {color: #cccc00}
:link:hover, :visited:hover {
	transition: color 0.8s ease;
	color: #cc8800
}
:link:active, :visited:active {color: #f00000}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 1px;
	background-color: #888888;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

#footer{
	margin: 10px auto;
	color: #444444;
	width: 90%;
	background-color: #888888;
	border: 1px solid #888888;
	padding: 8px;
	text-align: right;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
	border-radius: 6px;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #888888;
	border-radius: 4px;
}

/* Helper td */
td.helper{
	padding: 10px;
	vertical-align: top;
	background-color: #505050;
	border-radius: 6px;
	background: -webkit-linear-gradient(#888888, #444444);
	background: linear-gradient(#888888, #444444);
}

table.fixed{
	table-layout:fixed;
}

table.full{
	width: 100%;
}

/* Style for logs etc. */
.textpad{
	margin: 10px auto;
	width: 75%;
	padding: 10px;
	border-spacing: 1px;
	border: 2px solid #666666;
	border-radius: 6px;
}

/* Fixed Width Font */
.code{
	overflow: auto;
	text-align: left;
	padding: 10px;
	font-family: monospace;
	font: 11px Courier New, monospace;
	white-space: pre;
}

/* Scrollable list container */
.scroller{
	background-color: #a0a0a0;
	height:150px;
	width:100%;
	overflow: auto;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #e0e0e0}
.txtb{background-color: #d0d0d0}

/* Image Fields */
.imga{background-color: #f0f0f0}
.imgb{background-color: #e6e6e6}

/* Status Fields */
.good{	-webkit-box-shadow: inset 0 -5px 15px #30a020, 0 1px 1px #333333;
	box-shadow: inset 0 -5px 15px #30a020, 0 1px 1px #333333;
	background-color: #70d060
}
.noti{	-webkit-box-shadow: inset 0 -5px 15px #2030a0, 0 1px 1px #333333;
	box-shadow: inset 0 -5px 15px #2030a0, 0 1px 1px #333333;
	background-color: #6070d0
}
.warn{	-webkit-box-shadow: inset 0 -5px 15px #a0a020, 0 1px 1px #333333;
	box-shadow: inset 0 -5px 15px #a0a020, 0 1px 1px #333333;
	background-color: #d0d060
}
.alrm{	-webkit-box-shadow: inset 0 -5px 15px #a08020, 0 1px 1px #333333;
	box-shadow: inset 0 -5px 15px #a08020, 0 1px 1px #333333;
	background-color: #d0b060
}
.crit{	-webkit-box-shadow: inset 0 -5px 15px #a03030, 0 1px 1px #333333;
	box-shadow: inset 0 -5px 15px #a03030, 0 1px 1px #333333;
	background-color: #d07070
}
.part{
	background-image:url('../img/dia.png');
}

/* Module Colors */
.adm1, .net1, .dsk1, .mon1, .mgr1, .oth1, .usr1{
	background-color: #aaaaaa;
	background: -webkit-linear-gradient(#cccccc 25%, #a0a0a0 75%);
	background: linear-gradient( #cccccc 25%, #a0a0a0 75%);
}

.adm2, .net2, .dsk2, .mon2, .mgr2, .oth2, .usr2{
	background-color: #bbbbbb;
	background: -webkit-linear-gradient(#dddddd 25%, #b0b0b0 75%);
	background: linear-gradient( #dddddd 25%, #b0b0b0 75%);
}


/* ThemeNMenu Style Sheet */

.ThemeNMenu,.ThemeNSubMenuTable
{
	cursor:		default;
	font-size:	13px;

	padding:	2px;
	border:		0px;
	white-space:	nowrap;
}

.ThemeNMenu
{
/*	background-color:	#F7F3EF; */
}

.ThemeNSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0px;
	padding:	0px;

	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=135, Strength=4);*/
}

.ThemeNSubMenuTable
{
	background: #c0c0c0;
	background: -webkit-linear-gradient(#e0e0e0, #c0c0c0);
	background: linear-gradient(#e0e0e0, #c0c0c0);
	border: solid 1px #b0b0b0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.ThemeNSubMenuTable td
{
	white-space:	nowrap;
	padding:	2px;
}

.ThemeNMainItem,.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItem,.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	padding-left:	6px;
	padding-right:	6px;
	white-space:	nowrap;
}

.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	color: #558899;
	background: #d0d0d0;
	background: -webkit-linear-gradient(#f0f0f0, #a0a0a0);
	background: linear-gradient(#f0f0f0,  #a0a0a0);
	font-weight: bold;
}

.ThemeNMenuSplit
{
	height:		1px;
	margin-top:	1px;
	margin-bottom:	1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeNMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

.ThemeNMenuItem img.seq1
{
	display:	inline;
}

.ThemeNMenuItemHover seq2,
.ThemeNMenuItemActive seq2
{
	display:	inline;
}

.ThemeNMenuItem .seq2,
.ThemeNMenuItemHover .seq1,
.ThemeNMenuItemActive .seq1
{
	display:	none;
}
